<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout2}">

<div layout:fragment="content">

<strong>
<kakaopay></kakaopay>
</strong>


카카오페이 결제가 정상적으로 완료되었습니다.

결제일시: 	[[${info.approved_at}]]<br/>
주문번호:	[[${info.partner_order_id}]]<br/>
상품명:	[[${info.item_name}]]<br/>
상품수량:	[[${info.quantity}]]<br/>
결제금액:	[[${info.amount.total}]]<br/>
결제방법:	[[${info.payment_method_type}]]<br/>

<h3>[[${info}]]</h3>

<div>
	여기는 firebase 토큰값입니다.
	<div id="token">
	</div>
</div>
</div>

<th:block layout:fragment="script">
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
	<script th:inline="javascript">
	 // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyAKegY8LM_wqmn2twvBsMh0LsvGwsUjS6E",
	    authDomain: "gorany-df5bd.firebaseapp.com",
	    databaseURL: "https://gorany-df5bd.firebaseio.com",
	    projectId: "gorany-df5bd",
	    storageBucket: "gorany-df5bd.appspot.com",
	    messagingSenderId: "551706831448"
	  };
	  firebase.initializeApp(config);

	  var messaging = firebase.messaging();
	  
	  //token값 알아내기
	   messaging.requestPermission()
	  	.then(function(){
	  		console.log("Have permission");
	  		return messaging.getToken();
	  	}) 
	  	.then(function(token){
	  		console.log(token);
	  		$("#token").append(token+"<br/>");
	  	})
	  	.catch(function(arr){
	  		console.log("Error Occured");
	  	}) 
	  
	  messaging.onMessage(function(payload){
		 console.log('onMessage: ', payload); 
		 console.log(payload.data.status);
	  });
	  
	</script>

</th:block>