<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout2}">


<div layout:fragment="content">

	<style>
* {
	margin: 0px;
	padding: 0px;
}


.col-lg-9 {
	item-align: center;
	text-align: center;
	margin: auto;
}

.f1 {
	background-color: #E9CC44;
	height: 100px;
}

.f2 {
	text-align: center;
}

.cartBtn {
	height: 100px;
	width: 100%;
	background-color: transparent;
}

.checked {
	color: orange;
}
</style>
	<!-- content -->

	<div class="col-lg-9">

		<h3>장바구니</h3>
		
		
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">메뉴</th>
						<th scope="col">수량</th>
						<th scope="col">가격</th>
						<th scope="col">삭제</th>
					</tr>
				</thead>
				<tbody>
				[[${cart}]]
					<tr th:each="menu : ${menu}">
						<th><div class="form-check form-check-inline"> <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  							<label class="form-check-label" for="inlineCheckbox1"></label></div></th>
						<td th:text="${menu.mname}"></td>
						<td>
						<div class="input-group mb-3">
						<input size="1" type="number" class="form-control" min="0" max="100" value="1" disabled aria-describedby="basic-addon2">
  						<div class="input-group-append">
    					<button class="btn btn-warning" type="button">Edit</button>
   						 </div>
   						 </div>
						</td>
						<td th:text="${menu.mprice}"></td>
						<td><button class="btn btn-outline-warning">Del</button></td>
					</tr>
					
				</tbody>
			</table>

	<div class="col-lg-9">
		<div class="facet f2">
			<h3>총 주문 금액</h3>
			<h1>10000 원</h1>

		</div>
		 </div>
		   <div class="col-md-5">

     
		<!-- end content -->
	</div>
	      	<div class="wrapper">
      		<div class="facet f1"> <button class="cartBtn btn btn-warning" th:onclick="|window.location.href='@{/user/cart(sno=${menu[0].sno})}'|">주문하기</button></div>
      	</div>
</div>
</div>

<th:block layout:fragment="script">
<script th:inline="javascript">
window.onload = function()
{
	
	var getCookie = $.cookie('cart');
	
	console.log(getCookie); 
	
	

	
	

}
	
	
	
	
	

</script>
</th:block>