<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout_user}">

<style>
a {
	color: black;
}


#content-wrapper {
	background-image: url("/main/img/header-bg.jpg");
}

.card mb-3 {
	font: 14px sans-serif;
}
</style>

<div layout:fragment="content">

	<!-- DataTables Example -->
	<div class="card mb-3" style="item-align: center; text-align: center; margin: auto">
		<div class="card-header">
			<i class="fas fa-table"></i> 자주 묻는 질문들
		</div>

		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable"
					style="font: 13px sans-serif; font-color: black">
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>등록날짜</th>
							<th>수정날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="faq : ${faqList}">
							<td th:text="${faq.fno}"></td>
							<td><a class="faq" th:href="${faq.fno}"
								th:text="${faq.title}"></a></td>
							<td th:text="${faq.writer}"></td>
							<td th:text="${#dates.format(faq.regdate,'yyyy-MM-dd')}"></td>
							<td th:text="${#dates.format(faq.updatedate,'yyyy-MM-dd')}"></td>
						</tr>

					</tbody>
				</table>

				<div class="col-lg-12 text-center">
					<form action="/user/faq/register">
						<button sec:authorize="${hasRole('ADMIN')}" class="btn btn-success btn-block registerBtn" style="font: 13px sans-serif">글쓰기</button>
					</form>

					<br />

					<div class="col-lg-12 text-center">
						<br /> <select class="form-control type"
							style="font: 12px sans-serif">
							<option value="">검색조건을 선택하세요</option>
							<option value="t" th:selected="${dto.type == 't'}">제목</option>
							<option value="c" th:selected="${dto.type == 'c'}">내용</option>
							<option value="tc" th:selected="${dto.type == 'tc'}">제목
								+ 내용</option>
						</select> <input class="form-control" id="skeyword"
							th:value="${dto.keyword}" style="font: 12px sans-serif"
							placeholder="검색 내용을 입력하세요">
						<button class="btn btn-info btn-block searchBtn"
							style="font: 13px sans-serif">검색하기</button>
					</div>
					<br />
				</div>

				<div class="center" style="font: 13px sans-serif">
					<ul class="pagination">

						<li class="page-item" th:if="${dto.prev}"><a
							class="page-link" th:href="@{'/user/faq?page=' + ${dto.start-1}}">Previous</a></li>
						<li class="page-item disabled" th:unless="${dto.prev}"><a
							class="page-link" href="#">Previous</a></li>

						<li class="page-item"
							th:each="page : ${#numbers.sequence( __${dto.start}__, __${dto.end}__)}">
							<a class="page-link btn-primary" style="color: white;"
							th:if="${dto.page} == ${page}"
							th:href="@{'/user/faq?page=' + ${page}}" th:text="${page}"> </a>
							<a class="page-link" th:unless="${dto.page} == ${page}"
							th:href="@{'/user/faq?page=' + ${page}}" th:text="${page}"> </a>
						</li>

						<li class="page-item" th:if="${dto.next}"><a
							class="page-link" th:href="@{'/user/faq?page=' + ${dto.end+1}}">Next</a></li>
						<li class="page-item disabled" th:unless="${dto.next}"><a
							class="page-link" href="#">Next</a></li>
					</ul>
				</div>

			</div>

		</div>

		<form class="actionform">
			<input type="hidden" id="page" name="page" th:field="${dto.page}">
			<input type="hidden" id="display" name="display"
				th:field="${dto.display}"> <input type="hidden" id="keyword"
				name="keyword" th:field="${dto.keyword}"> <input
				type="hidden" id="type" name="type" th:field="${dto.type}">
			<input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>
	</div>


	<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function(){

		var actionform = $(".actionform");

		//검색버튼클릭
		$(".searchBtn").on("click",function(e) {
		e.preventDefault();

		var keyword = $("#skeyword").val();
		var type = $(".type").val();

		if (type == "") {
			alert("카테고리를 입력해주세요.");
			return;
		} else if (keyword == "") {
			alert("검색할 내용을 입력해주세요.");
			return;
		}

		$("#keyword").val(keyword);
		$("#type").val(type);
		$("#page").val(1);

		actionform.attr("action",
				"/user/faq").attr("method",
				"get").submit();

	});

		//공지 제목 클릭 -> 공지 읽기
		$(".faq").on("click",function(e) {
			e.preventDefault();

			var fno = $(this).attr(
					"href");

			actionform
					.append("<input type='hidden' id='fno' name='fno' value='"+ fno +"'>");
			actionform.attr("action",
					"/user/faq/read")
					.attr("method",
							"get")
					.submit();
		});

	});
		</script>
	</th:block>