<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout_user}">



<div layout:fragment="content">

<style>
.cartBtn {
	height: 100px;
	width: 100%;
	background-color: transparent;
}

.checked {
	color: orange;
}

</style>

	<!-- content -->
	
 	<!--csrf.token을 불러오지 못하는 문제가 있어서, 일단 여기서 한번 호출해두는 것 (스크립트에서 이 값을 빼서 쓰진 않음)-->
	<input type="hidden" id="token" th:name="${_csrf.headerName}" th:value="${_csrf.token}" /> 
	<div class="col-lg-9">

		<h3>결제하기</h3>

		<h5>주문정보</h5>


		<div class="col-lg-9">
			<table class="table">
				<thead class="thead-dark">
					<tr >
						<th scope="col">no</th>
						<th scope="col">메뉴</th>
						<th scope="col">수량</th>
						<th scope="col">가격</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cart : ${cart}">
						<th scope="row"><div class="form-check form-check-inline"> <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked="checked">
  							<label class="form-check-label" for="inlineCheckbox1"></label></div></th>
						<td th:text="${cart.mname}"></td>
						<td th:text="${cart.quantity}"></td>
						<td th:text="${cart.mprice}"></td>
					</tr>
				</tbody>
			</table>


			<div class="row">
				<h5>총 주문 금액 :</h5>
				<div class="facet f2" th:each="cart : ${cart}">
				 <input type="hidden" class="getPrice" th:value="${cart.totalPrice}" th:attr="name='menuPrice'">
				</div>
				<h4 class="menuPrice"></h4>
			</div>


			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">요청사항<br/>(30자 이내)</span>
				</div>
				<textarea class="form-control" id="customerRequest" maxlength=30 aria-label="With textarea"></textarea>
			</div>

			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input"
					id="customCheck1"  checked="checked"> <label id="selectOrder" class="custom-control-label"
					for="customCheck1">바로 주문</label>

			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input"
					id="customCheck2"> <label class="custom-control-label"
					for="customCheck2">예약 주문</label>
				<select id="ampm">
					<option value="" selected>오전/오후</option>
					<option value="AM">오전</option>
					<option value="PM">오후</option>

				</select>
				
				<select id="hour">
					<option value="" selected>시</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>

				</select>
				
				<select id="min">
					<option value="" selected>분</option>
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
					<option value="00">00</option>
				</select>
			</div>


			<div class="col-lg-9">

				<div class="facet f1">
						<input type="image" id="kakaoPayBtn" src="/imgs/kakao-pay.png" >
				</div>


				<!-- end content -->
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
<script th:inline="javascript">
$(document).ready(function(){
	
	//csrf처리
	var csrfHearderName = [[${_csrf.headerName}]];
	var csrfTokenValue =  [[${_csrf.token}]];

	var cartList = [[${cart}]];

	var list = new Array();
	
	var total = 0;
	
	//체크박스
	var customCheck1 = $("#customCheck1");
	var customCheck2 = $("#customCheck2");
	
	customCheck1.on("click",function(e){
		
		customCheck1.attr("checked",true);
		customCheck2.attr("checked",false);
		
	});
	
	customCheck2.on("click",function(e){
		
		customCheck2.attr("checked",true);
		customCheck1.attr("checked",false);
	});
	
	//요청사항
	var customerRequest = $("#customerRequest");
	var ampm = $("#ampm");
	var hour = $("#hour");
	var min = $("#min");
	

	//총 주문금액
  	$(".menuPrice").html(function(){

		$(".getPrice").each(function(){
			total += parseInt($(this).context.value);
		});
		
		console.log(total);
		return total;
	
	});  
	
	
	//카카오페이 버튼 click
	$("#kakaoPayBtn").on('click', function(e){
		e.preventDefault();
		
		var time = "";
		if($("#customCheck2").is(':checked')){
			
			if(ampm.val()===""){
				alert("오전/오후를 선택해주세요.");
				return;
			}

			if(hour.val()===""){
				alert("시간을 선택해주세요.");
				return;
			}

			if(min.val()===""){
				alert("분을 선택해주세요.");
				return;
			}
			
			time = ampm.val() + " " + hour.val() + ":" + min.val();
		}
		
		var addJson = {time: time, customerRequest: customerRequest.val()};
		
		$.each(cartList, function(index, item){
			
			var json = {
					
					sno: item.sno,
					mno: item.mno,
					sname: item.sname, 
					mname: item.mname,
					mprice: item.mprice,
					quantity: item.quantity
			}
			
			list.push(json);
			console.log(list);	
			});
		
		list.push(addJson);
		console.log(list);
			
 	$.ajax({
			type: "post",
			data: JSON.stringify(list),
			url: "/user/kakaoPay",
			contentType : "application/json; charset=UTF-8",
			beforeSend: function(xhr){
				xhr.setRequestHeader(csrfHearderName, csrfTokenValue);
			},
			success: function(result, status, xhr){
  				if(status == 'success'){
  					console.log(result);
					  window.location.href = result;  
				} 
 				
			}
				

			
		}); //end ajax
			
	}); //end button click
		
	

	
	
	
	
}); //end document ready
			
			
			</script>

		</th:block>