<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout_user}">



<div layout:fragment="content">

<style>
.cartBtn {
	height: 100px;
	width: 100%;
	background-color: transparent;
}

.checked {
	color: orange;
}

</style>

	<!-- content -->
	
 	<!--csrf.token을 불러오지 못하는 문제가 있어서, 일단 여기서 한번 호출해두는 것 (스크립트에서 이 값을 빼서 쓰진 않음)-->
	<input type="hidden" id="token" th:name="${_csrf.headerName}" th:value="${_csrf.token}" /> 
	<div class="col-lg-9">

		<h3>결제하기</h3>

		<h5>주문정보</h5>


		<div class="col-lg-9">
			<table class="table">
				<thead class="thead-dark">
					<tr >
						<th scope="col">No</th>
						<th scope="col">메뉴</th>
						<th scope="col">수량</th>
						<th scope="col">가격</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cart, index : ${cart}" th:data-idx="${index.index}">
						<td th:text="${index.index+1}"></td>
						<td th:text="${cart.mname}"></td>
						<td th:text="${cart.quantity}"></td>
						<td th:text="|${cart.mprice}원|"></td>
					</tr>
				</tbody>
			</table>


			<div class="row">
				<h5>총 주문 금액 :</h5>
				<div class="facet f2" th:each="cart : ${cart}">
				 <input type="hidden" class="getPrice" th:value="${cart.totalPrice}" th:attr="name='menuPrice'">
				</div>
				<h4 class="menuPrice"></h4>
			</div>


			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">요청사항</span>
				</div>
				<textarea class="form-control" aria-label="With textarea"></textarea>
			</div>

			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input"
					id="customCheck1"  checked="checked"> <label id="selectOrder" class="custom-control-label"
					for="customCheck1">바로 주문</label>

			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input"
					id="customCheck2"> <label class="custom-control-label"
					for="customCheck2">예약 주문</label> <select>
					<option selected>오전/오후</option>
					<option value="1">오전</option>
					<option value="2">오후</option>

				</select> <select>
					<option selected>시</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>

				</select> <select>
					<option selected>분</option>
					<option value="1">10</option>
					<option value="2">20</option>
					<option value="3">30</option>
					<option value="4">40</option>
					<option value="5">50</option>
					<option value="6">00</option>
				</select>
			</div>


			<div class="col-lg-9">

				<div class="facet f1">
						<input type="image" id="kakaoPayBtn" src="/imgs/kakao-pay.png" >
				</div>


				<!-- end content -->
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
<script th:inline="javascript">
$(document).ready(function(){
	
	//csrf처리
	var csrfHearderName = [[${_csrf.headerName}]];
	var csrfTokenValue =  [[${_csrf.token}]];

	var cartList = [[${cart}]];

	var list = new Array();
	
	var total = 0;
	

	//총 주문금액
  	$(".menuPrice").html(function(){

		$(".getPrice").each(function(){
			total += parseInt($(this).context.value);
		});
		
		console.log(total);
		return total+"원";
	
	});  
	
	
	//카카오페이 버튼 click
	$("#kakaoPayBtn").on('click', function(e){
		e.preventDefault();
		$.each(cartList, function(index, item){
			
			var json = {
					
					sno: item.sno,
					mno: item.mno,
					sname: item.sname, 
					mname: item.mname,
					mprice: item.mprice,
					quantity: item.quantity
			}
			
			list.push(json);
			console.log(list);	
			});
			
 	$.ajax({
			type: "post",
			data: JSON.stringify(list),
			url: "/user/kakaoPay",
			contentType : "application/json; charset=UTF-8",
			beforeSend: function(xhr){
				xhr.setRequestHeader(csrfHearderName, csrfTokenValue);
			},
			success: function(result, status, xhr){
  				if(status == 'success'){
  					console.log(result);
					  window.location.href = result;  
				} 
 				
			}
				

			
		}); //end ajax
			
	}); //end button click
		
		
	
	


	
}); //end document ready
			
			
			</script>

		</th:block>