<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout_user}">

<style>
.item img {

border:20px solid gold;
border-radius: 50%;
-moz-border-radius: 50%;
-khtml-border-radius: 50%;
-webkit-border-radius: 50%;

}
</style>

<div layout:fragment="content">
<style>
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.largeBtn{
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.searchResult{
	padding: 10px;
}

.searchResult:hover { 
	border: solid 5px gold;
}

a{
	color: black;
}

a:hover{
	color: black;
}

.heading{
	text-align: center;
	background-color: gray;
	padding: 10px;
	margin: 10px;
	color: white;
}

</style>

<br/><br/>
<!-- 검색기능 -->
<div class="container">
	<div class="row">
        <div class="col-md-12">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" id="tags" placeholder="키워드를 입력하세요" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg searchBtn" type="button">
                            <i class="fas fa-search glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>

<br/>
<div class="container">
	<div class="row">
                <div class="input-group quickSearch">
						<div class="col-md-12 ">
							<h3>빠른검색</h3>
							<a class="btn btn-primary quickSearch1" href="#">#카페</a> <a
								class="btn btn-danger quickSearch1" href="#">#커피</a> <a
								class="btn btn-secondary quickSearch1" href="#">#샌드위치</a> <a
								class="btn btn-info quickSearch1" href="#">#도시락</a>
						</div>
                </div>
	</div>
</div>
		


<!-- 상점 검색 결과 -->
<div class="container">
	<div class="row">
        <div class="col-md-12">

                <div class="storeResult hidden">
					<div class="row">
						<div class="col-lg-12 text-left heading">
							<h2 class="section-heading text-uppercase">상점 검색 결과</h2>
						</div>
						<hr>
					</div>
					<div id="storenone"><h4></h4></div>
					<div id="storelist"></div>
					<a class="btn btn-primary largeBtn text-uppercase" id="storeMore" href="#">더보기</a>
                </div>

        </div>
	</div>
</div>
		
			<br/><br/>
<!-- 메뉴 검색 결과 -->
<div class="container">
	<div class="row">
        <div class="col-md-12">

                <div class="menuResult hidden">
					<div class="row">
						<div class="col-lg-12 text-left heading">
							<h2 class="section-heading text-uppercase">메뉴 검색 결과</h2>
						</div>
						<hr>
					</div>
					<div id="menunone"><h4></h4></div>
					<div id="menulist"></div>
					<a class="btn btn-primary largeBtn text-uppercase" id="menuMore" href="#">더보기</a>
                </div>

        </div>
	</div>
</div>

			<form id="resultform" class="hidden">
				<div class='row searchResult'>
					<div class='col-md-7'>
					<img class='img-fluid rounded mb-3 mb-md-0' id="img" src='/main/img/portfolio/cafe3.jpg' style="height: 300px; width: 100%">
					</div>
					<div class='col-md-5 data'>
					<h4 id='sname'></h4>
					<p id='saddress'></p> 
					<p id="hours"></p>
					<a class='btn btn-primary' id="btn1" style='color: white; margin: 2px;'></a>
					<a class='btn btn-danger' id="btn2" style='color: white; margin: 2px;'></a>
					<a class='btn btn-secondary' id="btn3" style='color: white; margin: 2px;'></a>
					<a class='btn btn-info' id="btn4" style='color: white; margin: 2px;'>#맛집</a>
					<input type="hidden" id="sno" name="sno">
					</div>
				</div>
				<hr>
			</form>

<form id="actionform">
	
</form>


	</div>
	

	<th:block layout:fragment="script">

	<!-- google Geolocation -->
		<script type="text/javascript"
			src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCOjYqPJ97sckNjih-R8q07zMO9e8R-VJU&ver=3.exp"></script>


<script th:inline="javascript">
//csrf처리
var csrftoken = $('#_csrf').attr('content');
var csrfheader = $('#_csrf_header').attr('content');

$(document).ready(function(){
		
		var storeSearchList;
		var menuSearchList;
		
		
		//검색창 자동완성
		function display(data){
			$( "#tags" ).autocomplete({
				source: data,
				matchContains: true, 
				focus: function( event, ui ) {
					return false;
				},
				select: function( event, ui ) {
					event.stopPropagation();
					console.log(ui.item.value);
					$("#tags").val(ui.item.value);
				}
			});//end autocomplete
			
		};//end function
	
		searchService.autoComplete(function(result){
			console.log(result);
			display(result);
		});
		
		//엔터 이벤트
		$("#tags").keydown(function(event){
		
			if(event.keyCode == 13){
				console.log("엔터");
				event.preventDefault();
				search();
				}
			}
		);
		
	 	//검색하기 with 버튼
		$(".searchBtn").on("click",function(e){
			e.preventDefault();
			console.log("searchBtn........")
			search();
		});
		
		//검색하기
		function search(data){
			
			showList.storeindex = 0;
			showList.menuindex = 0;
			
			$(".quickSearch").attr("class","input-group quickSearch hidden");
			
			var keyword = $("#tags").val();
			
			if(!(data==undefined)){
				keyword = data;
			}
			
			$("#storelist").html("");
			$("#menulist").html("");
			
			if(keyword===""){
				$(".searchResultStore ul").append("검색어를 입력해주세요");
				return;
			}
			
			searchService.searchStore(keyword,function(result){
				
				$(".storeResult").attr("class","storeResult");

				storeSearchList = result;
				
				showList.showStoreList(storeSearchList);
				
			});
			
			searchService.searchMenu(keyword,function(result){
				
				$(".menuResult").attr("class","menuResult");
				
				menuSearchList = result;
				
				showList.showMenuList(menuSearchList);
			});
		}
		
		//검색 결과 3개씩 화면에 출력
		var showList={
				storeindex:0,
				menuindex:0,
				showStoreList: function(data){
					
					if(data.length==0){
						console.log("*-*-*-*-*-11111");
						console.log(data);
						$("#storenone h4").html("검색조건에 해당되는 결과가 없습니다.");
						$("#storeMore").attr("class","hidden");
					}
					
					for (var i = this.storeindex ; i < this.storeindex + 3 ; i++){
						storelist(data[i]);
						
						if(data.length==(i+1)){
							$("#storeMore").attr("class","hidden");
							return;
						}//end if
					}//end for
					
					this.storeindex += 3;
				},
				showMenuList: function(data){
					
					if(data.length==0){
						console.log("*-*-*-*-*-2222");
						console.log(data);
						$("#menunone h4").html("검색조건에 해당되는 결과가 없습니다.");
						$("#menuMore").attr("class","hidden");
					}
					
					for (var i = this.menuindex ; i < this.menuindex + 3 ; i++){
						menulist(data[i]);
						
						if(data.length==(i+1)){
							$("#menuMore").attr("class","hidden");
							return;
						}//end if
					}//end for
					this.menuindex += 3;
				}
		}
		
		var resultform = $("#resultform");
		var sno = $("#resultform #sno");
		var sname = $("#resultform #sname");
		var saddress = $("#resultform #saddress");
		var btn1 = $("#resultform #btn1");
		var btn2 = $("#resultform #btn2");
		var btn3 = $("#resultform #btn3");
		var btn4 = $("#resultform #btn4");
		var hours = $("#hours");
		var img = $("#img");
		

		//검색 결과 화면에 출력
		function storelist(data){

			sno.val(data.sno);
			sname.html(data.sname);
			saddress.html(data.saddress);
			btn1.html("#"+data.b_field);
			btn2.html("#"+data.menuList[0].mname);
			btn3.html("#"+data.menuList[0].mprice);
			btn4.html("#맛집");
			hours.html("영업시간: " + data.businessHours);
			img.attr("src","/upload/display?fileName="+encodeURIComponent(data.upload_path)+"\/"+ data.uuid + "_"+ data.fname);
			
			console.log("스토어 이미지");
			console.log(data);
			
			var clone = resultform.clone();
			clone.attr("class","");
			
			clone.on("click",function(e){
				e.preventDefault();
				console.log("click//");
				$(this).attr("action","/user/store").attr("method","get").submit()
			});

			$("#storelist").append(clone);
			
				
		}
		
		function menulist(data){
			console.log(data);
			
			sno.val(data.sno);
			sname.html(data.mname);
			saddress.html(data.introduction);
			btn1.html("#"+data.mcat);
			btn2.html("#"+data.mprice);
			btn3.html("#"+data.storeVO.saddress.split(' ')[1]);
			btn4.html("#"+data.storeVO.sname);
			hours.html("");
			img.attr("src","/upload/display?fileName="+encodeURIComponent(data.upload_path)+"\/"+ data.uuid + "_"+ data.fname);
					
			var clone = resultform.clone();
			clone.attr("class","");
			
			clone.on("click",function(e){
				e.preventDefault();
				console.log("click//");
				$(this).attr("action","/user/store").attr("method","get").submit()
			});
			
			$("#menulist").append(clone);
			
		}
		
		$(".quickSearch1").on("click",function(e){
			e.preventDefault();
			var keyword = $(this).html().substring(1);
			search(keyword);
		});
		
		
		$("#storeMore").on("click",function(e){
			e.preventDefault();
			showList.showStoreList(storeSearchList);
		});
		
		$("#menuMore").on("click",function(e){
			e.preventDefault();
			showList.showMenuList(menuSearchList);
		});

		 
		
	});
	

	
		  
		  
	</script>
	</th:block>