<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout_partner}">

<div layout:fragment="content">

<style>

a {
	color: black;
}

#content-wrapper {
 font: 14px sans-serif
}

.col-centered {
	float: none;
	margin: 0 auto;
}


img {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 200px;
	

}
</style>

	<ol class="breadcrumb" style="font: 12px sans-serif">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item">메뉴</li>
		<li th:text="${menu[0].sname}" class="breadcrumb-item active">메뉴보기</li>
	</ol>

	<div class="row">

		<!-- 메뉴목록 -->

		<div th:each="menu : ${menu}" class="col-xl-3 col-sm-6 mb-3"
			id="menubox">
			<div class="card o-hidden h-100">
				<div class="card-body">
				
					<img th:src="@{/upload/display(fileName=${menu.upload_path +'\/'+ menu.uuid + '_'+menu.fname})}">
					<div th:text="${menu.mname}" align="center"></div>
					<div th:text="${menu.mprice}" align="center"></div>
					<div th:text="${menu.introduction}" align="center"></div>
					</br>

					<div class="row">
						<div class="col-xl-3 col-sm-6 mb-3 col-centered">
							<div class="input-group">
								주문량 <input class="form-control" aria-label="Default"
									aria-describedby="inputGroup-sizing-default" type="number"
									id="usernumber" name="usernumber" value="5" step="1" min="0"
									max="1000"> <span class="input-group-btn">
									<button type="button" class="btn btn-dark" style="font: 12px sans-serif">설정</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<button id="soldout" type="button" class="btn btn-danger" style="font: 12px sans-serif">품절</button>
			</div>
		</div>


	</div>
</div>


<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {

		
		});
	</script>
</th:block>