<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout_partner}">

<div layout:fragment="content">

	<style>
a {
	color: black;
}

#content-wrapper {
	font: 14px sans-serif
}

.col-centered {
	float: none;
	margin: 0 auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 200px;
}

.form-control {
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	width: 100vh;
	/* height: 200px; */
}
</style>

	<!--csrf.token을 불러오지 못하는 문제가 있어서, 일단 여기서 한번 호출해두는 것 (스크립트에서 이 값을 빼서 쓰진 않음)-->
	<input type="hidden" id="token" th:name="${_csrf.headerName}"
		th:value="${_csrf.token}" />

	<ol class="breadcrumb" style="font: 12px sans-serif">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item">메뉴</li>
		<li th:text="${menu[0].sname}" class="breadcrumb-item active">메뉴보기</li>
	</ol>

	<div class="row">

		<!-- 메뉴목록 -->



		<div th:each="menu : ${menu}" class="col-xl-3 col-sm-6 mb-3"
			id="menubox">
			<div class="card o-hidden h-100">
				<div class="card-body">

					<img
						th:src="@{/upload/display(fileName=${menu.upload_path +'\/'+ menu.uuid + '_'+menu.fname})}">
					<div th:text="${menu.mname}" align="center"></div>
					<div th:text="${menu.mprice}" align="center"></div>
					<div th:text="${menu.introduction}" align="center"></div>
					</br>

					<!-- 		</div>
					 <div class="card-body">  -->

					<div class="input-group">
						주문량 <input class="form-control" aria-label="Default"
							aria-describedby="inputGroup-sizing-default" type="number"
							th:id="${menu.mno}" name="usernumber" th:value="${menu.max_quantity}" step="1" min="0"
							max="1000" /> <span class="input-group-btn">
							<button type="submit" class="btn btn-dark" th:value="${menu.mno}"
								style="font: 12px sans-serif">설정</button>
						</span>
						
					</div>
					<!-- </div> -->
				</div>
				
				<span th:if="${menu.soldout.toString()} == 'X'">
				<div class="card o-hidden h-100">
					<button th:id="${menu.mno}" class="btn btn-outline-danger"
					th:value="${menu.soldout}" style="font: 12px sans-serif">품절로 설정하시겠습니까?</button></div>
				</span>
				<span th:if="${menu.soldout.toString()} == 'O'">
				<div class="card o-hidden h-100">
					<button th:id="${menu.mno}" class="btn btn-outline-danger"
					th:value="${menu.soldout}" style="font: 12px sans-serif">품절 설정 완료</button></div>
				</span>

			</div>
		</div>


	</div>
</div>


<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			var csrfHearderName = [[${_csrf.headerName}]];
			var csrfTokenValue =  [[${_csrf.token}]];
			
			$(document).ajaxSend(function(e,xhr,options){
				xhr.setRequestHeader(csrfHearderName, csrfTokenValue);
			}); 
			
			
			//var soldoutid;
		
			  /* for(var i=0; $(".btn.btn-outline-danger").length; i++ )
				{
				if($(".btn.btn-outline-danger")[i] === 'O'){
					console.log("이응")
				}
				else if($(".btn.btn-outline-danger")[i] === 'X'){
					console.log("엑스")
					
				}
				}   */
			
			
			
		//설정 버튼 클릭 시
		$(document).on("click",".btn.btn-dark",function(){

			
			var id = $(this).context.value;
			console.log($(this).context.value);
			 
			var control = document.getElementById( id ).value;
			console.log(control);
			
			var data = {'mno':id , 'max_quantity': control}
			
			console.log(data);
			
 
			  //ajax
			$.ajax({
			 		type :'post',
			 		url: '/partner/maxquantity',
			 		data: JSON.stringify(data),
			 		contentType: "application/json; charset=utf-8", 
			 		beforeSend: function(xhr) {
		                xhr.setRequestHeader(csrfHearderName, csrfTokenValue)
		            },
			 		success:function(data){
			 			
			 			alert("변경 됐습니다");
			 			
			 		},
			 		error:function(e){
			 			console.log(e);
			            alert("에러 발생~~");
			        } 
			 	})//ajax
			 	
			 	  

		
			
			
			
		}); //.btn.btn-dark click
		
		//품절 버튼 클릭 시 btn btn-outline-danger  
		
		$(document).on("click",".btn.btn-outline-danger",function(){
			
			
			var soldoutid = $(this).context.id;
		
			
			var value = $(this).context.value;
		
			
			var sno = [[${menu}]][0].sno;
			
			var data = {'sno':sno, 'mno':soldoutid, 'soldout':value}
			
			if(value == 'X'){
				
				
				$.ajax({
			 		type :'post',
			 		url: '/partner/menu',
			 		data: JSON.stringify(data),
			 		contentType : "application/json", 
			 		beforeSend: function(xhr) {
		                xhr.setRequestHeader(csrfHearderName, csrfTokenValue)
		            },
			 		success:function(data){
		 			
			 			alert("품절 설정이 완료되었습니다!");
 			
			 		},
			 		error:function(e){
			 			console.log(e);
			            alert("에러 발생~~");
			        } 
			 	})//ajax
			 	

		 			 $(this).context.innerHTML="품절 설정 완료";
			}
			else if(value == 'O'){
			
				
				$.ajax({
			 		type :'post',
			 		url: '/partner/menu',
			 		data: JSON.stringify(data),
			 		contentType : "application/json", 
			 		beforeSend: function(xhr) {
		                xhr.setRequestHeader(csrfHearderName, csrfTokenValue)
		            },
			 		success:function(data){
		 			
			 			alert("품절 해제가 완료되었습니다!");
 			
			 		},
			 		error:function(e){
			 			console.log(e);
			            alert("에러 발생~~");
			        } 
			 	})//ajax
			 	

		 			 $(this).context.innerHTML="품절로 설정하시겠습니까?";
				
			 			
			}
			
			
			
			
			
			
			
			
			
			
			
			//console.log(data);
			 
			 
			/*  $.ajax({
			 		type :'post',
			 		url: '/partner/menu',
			 		data: JSON.stringify(data),
			 		contentType : "application/json", 
			 		beforeSend: function(xhr) {
		                xhr.setRequestHeader(csrfHearderName, csrfTokenValue)
		            },
			 		success:function(data){
			 			
			 			alert("에이 작스가 한번에 될리가,,");
			 			
			 		},
			 		error:function(e){
			 			console.log(e);
			            alert("에러 발생~~");
			        } 
			 	})//ajax */
			
			 
			 
		
		
			 
			
			
		});//btn btn-outline-danger click
		
		
		
		
		
		
		});//ready

	</script>
</th:block>