<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout_partner}">

<div layout:fragment="content">
	<style>
/* #content-wrapper {
	background-image: url("/imgs/we.jpg");
} */

#gorany {
	color: white;
	text-align: center;
	font-size: 10em;
	position: static;
}
</style>

<style>
.uploadResult {
	width: 100%;
	background-color: gray;
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	color: white;
}

.uploadResult ul li {
	list-style: none;
	padding: 20px;
	align-centent: center;
	text-align: center;
}

.uploadResult ul li img {
	display: inline;
	height: 100px;
}

.uploadResult ul li span {
	color: white;
}

#submission {
	text-align: center;
}

a {
	color: blue;
}

#myVideo {
	position: abolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: white;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

</style>
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">공지사항</li>
	</ol>

	<!-- DataTables Example -->
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-table"></i> 우리의 공지는?
		</div>

		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable">
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>등록날짜</th>
							<th>수정날짜</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="notice : ${noticeList}">
							<td th:text="${notice.nno}"></td>
							<td><a class="notice" th:href="${notice.nno}"
								th:text="${notice.title}"></a></td>
							<td th:text="${notice.writer}"></td>
							<td th:text="${#dates.format(notice.regdate,'yyyy-MM-dd')}"></td>
							<td th:text="${#dates.format(notice.updatedate,'yyyy-MM-dd')}"></td>
						</tr>

					</tbody>
				</table>
				<div  class="col-lg-12 text-center">
				<form action="/partner/notice/register">
					<button class="btn btn-success btn-block registerBtn">공지
						등록하기</button>
				</form>
				<br />
				<select class="form-control type">
					<option value="">검색조건을 선택하세요</option>
					<option value="t" th:selected="${dto.type == 't'}">제목</option>
					<option value="c" th:selected="${dto.type == 'c'}">내용</option>
					<option value="tc" th:selected="${dto.type == 'tc'}">제목 + 내용</option>
				</select>
				<input class="form-control" id="skeyword" th:value="${dto.keyword}" placeholder="검색 내용을 입력하세요" > 
					<button class="btn btn-success btn-block searchBtn">검색하기</button> 
			</div>
			<br />
			</div>
			<div class="center">
				<ul class="pagination">

					<li class="page-item" th:if="${dto.prev}"><a class="page-link"
						th:href="@{'/partner/superAdmin?page=' + ${dto.start-1}}">Previous</a></li>
					<li class="page-item disabled" th:unless="${dto.prev}"><a
						class="page-link" href="#">Previous</a></li>

					<li class="page-item" th:each="page : ${#numbers.sequence( __${dto.start}__, __${dto.end}__)}">
						<a class="page-link btn-primary" style="color: white;"
						th:if="${dto.page} == ${page}" th:href="@{'/partner/superAdmin?page=' + ${page}}" th:text="${page}">
						</a>
						
						<a class="page-link" 
						th:unless="${dto.page} == ${page}" th:href="@{'/partner/superAdmin?page=' + ${page}}" th:text="${page}">
						</a>
					</li>

					<li class="page-item" th:if="${dto.next}"><a class="page-link"
						th:href="@{'/partner/superAdmin?page=' + ${dto.end+1}}">Next</a></li>
					<li class="page-item disabled" th:unless="${dto.next}"><a
						class="page-link" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	
	<ol class="breadcrumb">
		<li class="breadcrumb-item active"> 가게 추가하기 / 파트너 권한 주기</li>

	</ol>

	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-tachometer-alt"></i> 가게 추가하기 / 파트너 권한 주기
		</div>
		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<form id="storeForm">
							<div class="col-md-12">
								<div class="form-group">
									<input class="form-control" id="pid" name="pid"
										placeholder="파트너 아이디(pid)">
									<button style="margin-top: 10px;" class="col-md-5 btn btn-block btn-primary" id="checkId">아이디 존재 여부 확인</button>
								</div>
								<div class="form-group">
									<input class="form-control" id="serialNum" name="serialNum"
										placeholder="라즈베리파이 시리얼번호(serialNum)">
								</div>
								<input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<div class="form-group">
									(qr 이미지) - 1개의 이미지만 업로드 할 수 있습니다.
									<div class="row">
										<div class="col-lg-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="filebox"> 
														<label for="qrfile" class="btn-primary">파일 첨부</label>
														<input type="file" id="qrfile" name='qrUploadfile'>
													</div>
													<br />
													<div class='uploadResult col-lg-12' id="qrUploadResult">
														<ul>

														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									(가게 이미지) - 여러개의 이미지를 업로드 할 수 있습니다.
									<div class="row">
										<div class="col-lg-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="filebox"> 
														<label for="storefile" class="btn-primary">파일 첨부</label>
														<input type="file" id="storefile" name='storeUploadfile' multiple>
													</div>
													<br />
													<div class='uploadResult col-lg-12' id="storeUploadResult">
														<ul>

														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-lg-12 text-center">
								<div>
									<button class="btn btn-primary btn-block storeRegisterBtn">가게
										추가하기</button>
									<button class="btn btn-success btn-block storeModifyBtn">가게
										수정하기</button>
									<button class="btn btn-danger btn-block storeRemoveBtn">가게
										삭제하기</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body"></div>
	</div>
	
	


	<ol class="breadcrumb">
		<li class="breadcrumb-item active">메뉴 추가하기</li>

	</ol>

	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-tachometer-alt "></i> 메뉴 추가하기
		</div>
		<div class="card-body">
			<div class="container">
				<div class="row"></div>
				<div class="row">
					<div class="col-lg-12">
						<form id="menuForm">
							<div class="col-md-12">
								<div class="form-group">
									<input class="form-control" id="sname" name="sname"
										placeholder="가게 명(sname)">
								</div>
								<div class="form-group">
									<input class="form-control" id="mname" name="mname"
										placeholder="메뉴 명(mname)">
								</div>
								<div class="form-group">
									<input class="form-control" id="mcat" name="mcat"
										placeholder="메뉴 종류(mcat)">
								</div>
								<div class="form-group">
									<input class="form-control" id="mprice" name="mprice"
										placeholder="메뉴 가격(mprice)">
								</div>
								<div class="form-group">
									<input class="form-control" id="introduction"
										name="introduction" placeholder="한줄소개(introduction)">
								</div>
								<input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<div class="form-group">
									<메뉴 이미지> - 1개의 이미지만 업로드 할 수 있습니다.
									<div class="row">
										<div class="col-lg-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="filebox"> 
														<label for="menufile" class="btn-primary">파일 첨부</label>
														<input type="file" id="menufile" name='uploadfile'>
													</div>

													<br />
													<div class='uploadResult col-lg-12' id="menuUploadResult">
														<ul>

														</ul>
													</div>


												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-lg-12 text-center">
								<div>
									<button class="btn btn-primary btn-block menuRegisterBtn">메뉴
										추가하기</button>
									<button class="btn btn-success btn-block menuModifyBtn">메뉴
										수정하기</button>
									<button class="btn btn-danger btn-block menuRemoveBtn">메뉴
										삭제하기</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body"></div>
	</div>

	<form class="actionform">
		<input type="hidden" id="page" name="page" th:field="${dto.page}">
		<input type="hidden" id="display" name="display" th:field="${dto.display}">
		<input type="hidden" id="keyword" name="keyword" th:field="${dto.keyword}">
		<input type="hidden" id="type" name="type" th:field="${dto.type}">
		<input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>


<video autoplay muted loop id="myVideo">
  <source src="/video/superadmin.mp4" type="video/mp4">
</video>

</div>




<th:block layout:fragment="script">
	<script th:inline="javascript" src="/js/upload.js"></script>
	<script th:inline="javascript">
		$(document).ready(function() {
			
			var actionform = $(".actionform");
			
			//csrf처리
			var csrfHearderName = [[${_csrf.headerName}]];
			var csrfTokenValue = [[${_csrf.token}]];
			
			$(document).ajaxSend(function(e,xhr,options){
				xhr.setRequestHeader(csrfHearderName, csrfTokenValue);
			});
			
			var pid = $("#pid");
			var serialNum = $("serialNum");
			
			//아이디 존재 여부 확인
			$("#checkId").on("click",function(e){
				e.preventDefault();
				
				$.ajax({
		            type: 'get',
		            url: "/superadmin/pid/" + pid.val(),
		            success: function(result){
						if(result==1){
							alert("아이디 있데여~!!!~!~!~!~!");
							checkId = 1;
						}else if(result > 1){
							alert("분명히 막아놨는디.... 아이디가 중복으로 들어가있뇌여 DB를 직접 수정해주세여.");
							checkId = 0;
						}else{
							alert("아이디 없데여~!~!~!~");
							checkId = 0;
						}
					}
				});//end ajax
				
			});
			
			
			//검색버튼클릭
			$(".searchBtn").on("click",function(e){
				e.preventDefault();
		         
		       	var keyword = $("#skeyword").val();
		       	var type =  $(".type").val();
		       	
		       	if(type == ""){
		       		alert("카테고리를 입력해주세요.");
		       		return;
		       	}else if(keyword==""){
		       		alert("검색할 내용을 입력해주세요.");
		      		return;
		       	}
		       	
		       	$("#keyword").val(keyword);
		       	$("#type").val(type);
		       	$("#page").val(1);
				
		        actionform
		        .attr("action", "/partner/superAdmin")
		        .attr("method", "get")
		        .submit(); 
		        
			});
			
			
			//공지 제목 클릭 -> 공지 읽기
			$(".notice").on("click",function(e){
				e.preventDefault();
				
				var nno = $(this).attr("href");
				
				actionform.append("<input type='hidden' id='nno' name='nno' value='"+ nno +"'>");
				actionform.attr("action","/partner/notice/read").attr("method","get").submit();
			});
			
			//메뉴 추가하기 form태그
			var menuForm = $("#menuForm");
			var sname;
	      	var mname;
	        var mcat;
	        var mprice;
	        var introduction;

			//메뉴 추가하기 버튼
			$(".menuRegisterBtn").on("click",function(e){
				e.preventDefault();
				
				sname = $("#sname").val();
		        mname =  $("#mname").val();
		        mcat =  $("#mcat").val();
		        mprice =  $("#mprice").val();
		        introduction =  $("#introduction").val();
		         
				console.log("등록버튼 클릭");
				
		      	 if(sname == ""){
		      		console.log("-------------1");
		       		 alert("가게이름을 입력해주세요.");
		       		 return;
		       	 }
		      	 
		      	 if(mname == ""){
		      		console.log("-------------2");
		       		 alert("메뉴이름을 입력해주세요.");
		      		 return;
		       	 }
		      	 
		      	 if(mcat == ""){
		      		 console.log("-------------3");
		       		 alert("메뉴종류를 입력해주세요.");
		      		 return;
		       	 }
		      	 
		      	 if(mprice == ""){
		      		 console.log("-------------3");
		       		 alert("가격를 입력해주세요.");
		      		 return;
		       	 }
		      	 
		      	 if(introduction == ""){
		      		 console.log("-------------3");
		       		 alert("한줄소개를 입력해주세요.");
		      		 return;
		       	 }
		      	 
		      	$.ajax({
		            type: 'get',
		            url: "/superadmin/menuadd/" + sname + "/" + mname,
		            success: function(result,status,xhr){
		            	console.log("sno: "+result.sno);
		            	console.log("count: "+result.count);
						if(result.sno==null){
							alert("[실패]가게이름 오류");
							return;
						}
						
						if(result.count!=0){
							alert("[실패]해당 가게에 동일한 메뉴가 있습니다.");
							return;
						}
						
						menuAdd();
					}
				});//end ajax

			});
			
			function menuAdd(){
		 		var str = "";
		 		
		 		$("#menuUploadResult ul li").each(function(i,obj){
		 			var jobj = $(obj);
		 			
		 			str += "<input type='hidden' name='fname' value='"+jobj.data("filename")+"'>";
		 			str += "<input type='hidden' name='uuid' value='"+jobj.data("uuid")+"'>";
		 			str += "<input type='hidden' name='upload_path' value='"+jobj.data("path")+"'>";

				});
		 		menuForm.append(str).attr("action","/superadmin/menuadd").attr("method","post").submit();
			}
			
			
			//메뉴 수정하기 버튼
			$(".menuModifyBtn").on("click",function(e){
				e.preventDefault();
				
				sname = $("#sname").val();
		        mname =  $("#mname").val();
		        mcat =  $("#mcat").val();
		        mprice =  $("#mprice").val();
		        introduction =  $("#introduction").val();
		        
		        if(sname == ""){
		      		console.log("-------------1");
		       		 alert("가게이름을 입력해주세요.");
		       		 return;
		       	 }
		      	 
		      	 if(mname == ""){
		      		console.log("-------------2");
		       		 alert("메뉴이름을 입력해주세요.");
		      		 return;
		       	 }
		      	 
			     $.ajax({
			          type: 'get',
			          url: "/superadmin/menumodify/" + sname + "/" +mname,
			          success: function(result,status,xhr){
						console.log("???" + result.sno);
						console.log("???" + result.mno);
						console.log("???" + result.count);
						if(result.sno==null){
							alert("[실패]가게이름, 메뉴이름을 확인해주세요");
							return;
						}
							
						menuModify();
				      }
				 });//end ajax
			});
			
			function menuModify(){
		 		var str = "";
		 		
		 		$("#menuUploadResult ul li").each(function(i,obj){
		 			var jobj = $(obj);
		 			
		 			str += "<input type='hidden' name='fname' value='"+jobj.data("filename")+"'>";
		 			str += "<input type='hidden' name='uuid' value='"+jobj.data("uuid")+"'>";
		 			str += "<input type='hidden' name='upload_path' value='"+jobj.data("path")+"'>";

				});
		 		menuForm.append(str).attr("action","/superadmin/menumodify").attr("method","post").submit();
			}
			
			
			//메뉴 삭제하기 버튼
			$(".menuRemoveBtn").on("click",function(e){
				e.preventDefault();
				
				sname = $("#sname").val();
		        mname =  $("#mname").val();
		        
		        if(sname == ""){
		      		console.log("-------------1");
		       		 alert("가게이름을 입력해주세요.");
		       		 return;
		       	 }
		      	 
		      	 if(mname == ""){
		      		console.log("-------------2");
		       		 alert("메뉴이름을 입력해주세요.");
		      		 return;
		       	 }
		      	 
			     $.ajax({
			          type: 'get',
			          url: "/superadmin/menumodify/" + sname + "/" +mname,
			          success: function(result,status,xhr){
			        	  console.log(result.mno);
			        	  console.log(result.sno);
						if(result.sno==null){
							alert("[실패]가게이름, 메뉴이름을 확인해주세요");
							return;
						}
							
						menuForm.attr("action","/superadmin/menuremove").attr("method","post").submit()
				      }
				 });//end ajax
			});
			
			
			
			if([[${menuAddResult}]]==1){
				alert("메뉴가 추가되었습니다.")
			}

			if([[${menuModifyResult}]]==1){
				alert("메뉴가 수정되었습니다.")
			}
			
			if([[${menuRemoveResult}]]==1){
				alert("메뉴가 삭제되었습니다.")
			}
			
			if([[${addResult}]]==1){
				alert("공지가 등록되었습니다.")
			}
			
			
		});
	</script>
</th:block>