<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout_partner}">

<div layout:fragment="content">
	<style>
#content-wrapper {
	background-image: url("/agency/img/we.jpg");
}

#gorany {
	color: white;
	text-align: center;
	font-size: 10em;
	position: static;
}
</style>

	<style>
.uploadResult {
	width: 100%;
	background-color: gray;
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	color: white;
}

.uploadResult ul li {
	list-style: none;
	padding: 20px;
	align-centent: center;
	text-align: center;
}

.uploadResult ul li img {
	display: inline;
	height: 100px;
}

.uploadResult ul li span {
	color: white;
}

#submission {
	text-align: center;
}
</style>

	<div id="gorany">익명의 고라니</div>
	<div id="gorany">문지인</div>
	<div id="gorany">박고은</div>
	<div id="gorany">박가영</div>
	<div id="gorany">추연훈</div>
	<div id="gorany">김가익</div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">공지사항</li>
	</ol>

	<!-- DataTables Example -->
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-table"></i> 우리의 공지는?
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%"
					cellspacing="0">
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>수정날짜</th>
							<th>등록날짜</th>
							<th>지울것</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Tiger Nixon</td>
							<td>System Architect</td>
							<td>Edinburgh</td>
							<td>61</td>
							<td>2011/04/25</td>
							<td>$320,800</td>
						</tr>
						<tr>
							<td>Garrett Winters</td>
							<td>Accountant</td>
							<td>Tokyo</td>
							<td>63</td>
							<td>2011/07/25</td>
							<td>$170,750</td>
						</tr>
						<tr>
							<td>Ashton Cox</td>
							<td>Junior Technical Author</td>
							<td>San Francisco</td>
							<td>66</td>
							<td>2009/01/12</td>
							<td>$86,000</td>
						</tr>
						<tr>
							<td>Cedric Kelly</td>
							<td>Senior Javascript Developer</td>
							<td>Edinburgh</td>
							<td>22</td>
							<td>2012/03/29</td>
							<td>$433,060</td>
						</tr>
						<tr>
							<td>Airi Satou</td>
							<td>Accountant</td>
							<td>Tokyo</td>
							<td>33</td>
							<td>2008/11/28</td>
							<td>$162,700</td>
						</tr>
						<tr>
							<td>Brielle Williamson</td>
							<td>Integration Specialist</td>
							<td>New York</td>
							<td>61</td>
							<td>2012/12/02</td>
							<td>$372,000</td>
						</tr>
						<tr>
							<td>Herrod Chandler</td>
							<td>Sales Assistant</td>
							<td>San Francisco</td>
							<td>59</td>
							<td>2012/08/06</td>
							<td>$137,500</td>
						</tr>
						<tr>
							<td>Rhona Davidson</td>
							<td>Integration Specialist</td>
							<td>Tokyo</td>
							<td>55</td>
							<td>2010/10/14</td>
							<td>$327,900</td>
						</tr>
						<tr>
							<td>Colleen Hurst</td>
							<td>Javascript Developer</td>
							<td>San Francisco</td>
							<td>39</td>
							<td>2009/09/15</td>
							<td>$205,500</td>
						</tr>
						<tr>
							<td>Sonya Frost</td>
							<td>Software Engineer</td>
							<td>Edinburgh</td>
							<td>23</td>
							<td>2008/12/13</td>
							<td>$103,600</td>
						</tr>
						<tr>
							<td>Jena Gaines</td>
							<td>Office Manager</td>
							<td>London</td>
							<td>30</td>
							<td>2008/12/19</td>
							<td>$90,560</td>
						</tr>
						<tr>
							<td>Quinn Flynn</td>
							<td>Support Lead</td>
							<td>Edinburgh</td>
							<td>22</td>
							<td>2013/03/03</td>
							<td>$342,000</td>
						</tr>
					</tbody>
				</table>
				<div>
					<button class="btn btn-primary btn-block registerBtn">공지
						등록하기</button>
				</div>
			</div>
			</br>
			<div class="left">
				<ul class="pagination">
					<li class="page-item disabled"><a class="page-link" href="#"
						tabindex="-1">Previous</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active"><a class="page-link" href="#">2
					</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>


	<ol class="breadcrumb">
		<li class="breadcrumb-item active">메뉴 추가하기</li>
	</ol>

	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-tachometer-alt "></i> 메뉴 추가하기
		</div>
		<div class="card-body">
			<div class="container">
				<div class="row"></div>
				<div class="row">
					<div class="col-lg-12">
						<form id="menuForm">
							<div class="col-md-12">
								<div class="form-group">
									<input class="form-control" id="sname" name="sname"
										placeholder="가게 명(sname)">
								</div>
								<div class="form-group">
									<input class="form-control" id="mname" name="mname"
										placeholder="메뉴 명(mname)">
								</div>
								<div class="form-group">
									<input class="form-control" id="mcat" name="mcat"
										placeholder="메뉴 종류(mcat)">
								</div>
								<div class="form-group">
									<input class="form-control" id="mprice" name="mprice"
										placeholder="메뉴 가격(mprice)">
								</div>
								<div class="form-group">
									<input class="form-control" id="introduction"
										name="introduction" placeholder="한줄소개(introduction)">
								</div>
								<input type="hidden" id="csrfToken"
									th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<div class="form-group">
									<메뉴 이미지> - 1개의 이미지만 업로드 할 수 있습니다.
									<div class="row">
										<div class="col-lg-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="uploadDiv col-lg-2">
														<input type='file' name='uploadfile' multiple>
													</div>
													<br />
													<div class='uploadResult col-lg-12'>
														<ul>

														</ul>
													</div>

													<button class=" btn btn-primary" id='uploadBtn'>Upload</button>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-lg-12 text-center">
								<div>
									<button class="btn btn-primary btn-block menuRegisterBtn">메뉴
										추가하기</button>
									<button class="btn btn-success btn-block menuModifyBtn">메뉴
										수정하기</button>
									<button class="btn btn-danger btn-block menuRemoveBtn">메뉴
										삭제하기</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body"></div>
	</div>


	<!-- 공지 Modal -->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<input type="hidden" id="rnoValue" value="rnoValue">
					<h4 class="modal-title" id="myModalLabel">공지 등록하기</h4>
				</div>
				<div class="modal-body"></div>

				<div class="form-group">
					<label>제목</label> <input class="form-control" name="title"
						placeholder="공지제목 입력">
				</div>
				<div class="form-group">
					<label>내용</label>
					<textarea class="form-control" id="message" placeholder="공지내용 입력"
						required="required"></textarea>
				</div>
				<div class="form-group">
					<label>작성자</label> <input class="form-control" name="id"
						value="고라니컴퍼니 " readonly="readonly">
				</div>

				<div class="modal-footer">

					<button id="modalModBtn" type="button" class="btn btn-warning"
						data-dismiss="modal">수정하기</button>
					<button id="modalRemoveBtn" type="button" class="btn btn-danger"
						data-dismiss="modal">삭제하기</button>
					<button id="modalRegisterBtn" type="button" class="btn btn-primary"
						data-dismiss="modal">등록하기</button>
					<button id="modalCloseBtn" type="button" class="btn btn-default"
						data-dismiss="modal">창 닫기</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->



</div>




<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			
			//csrf처리
			var csrfHearderName = [[${_csrf.headerName}]];
			var csrfTokenValue = [[${_csrf.token}]];
			
			$(document).ajaxSend(function(e,xhr,options){
				xhr.setRequestHeader(csrfHearderName, csrfTokenValue);
			});
			
			//메뉴 추가하기 form태그
			var menuForm = $("#menuForm");
			var sname;
	      	var mname;
	        var mcat;
	        var mprice;
	        var introduction;

			//메뉴 추가하기 버튼
			$(".menuRegisterBtn").on("click",function(e){
				e.preventDefault();
				
				sname = $("#sname").val();
		        mname =  $("#mname").val();
		        mcat =  $("#mcat").val();
		        mprice =  $("#mprice").val();
		        introduction =  $("#introduction").val();
		         
				console.log("등록버튼 클릭");
				
		      	 if(sname == ""){
		      		console.log("-------------1");
		       		 alert("가게이름을 입력해주세요.");
		       		 return;
		       	 }
		      	 
		      	 if(mname == ""){
		      		console.log("-------------2");
		       		 alert("메뉴이름을 입력해주세요.");
		      		 return;
		       	 }
		      	 
		      	 if(mcat == ""){
		      		 console.log("-------------3");
		       		 alert("메뉴종류를 입력해주세요.");
		      		 return;
		       	 }
		      	 
		      	 if(mprice == ""){
		      		 console.log("-------------3");
		       		 alert("가격를 입력해주세요.");
		      		 return;
		       	 }
		      	 
		      	 if(introduction == ""){
		      		 console.log("-------------3");
		       		 alert("한줄소개를 입력해주세요.");
		      		 return;
		       	 }
		      	 
		      	$.ajax({
		            type: 'get',
		            url: "/superadmin/menuadd/" + sname + "/" + mname,
		            success: function(result,status,xhr){
		            	console.log("sno: "+result.sno);
		            	console.log("count: "+result.count);
						if(result.sno==null){
							alert("[실패]가게이름 오류");
							return;
						}
						
						if(result.count!=0){
							alert("[실패]해당 가게에 동일한 메뉴가 있습니다.");
							return;
						}
						
						menuAdd();
					}
				});//end ajax

			});
			
			function menuAdd(){
		 		var str = "";
		 		
		 		$(".uploadResult ul li").each(function(i,obj){
		 			var jobj = $(obj);
		 			
		 			str += "<input type='hidden' name='fname' value='"+jobj.data("filename")+"'>";
		 			str += "<input type='hidden' name='uuid' value='"+jobj.data("uuid")+"'>";
		 			str += "<input type='hidden' name='uploadPath' value='"+jobj.data("path")+"'>";

				});
		 		menuForm.append(str).attr("action","/superadmin/menuadd").attr("method","post").submit();
			}
			
			
			//메뉴 수정하기 버튼
			$(".menuModifyBtn").on("click",function(e){
				e.preventDefault();
				
				sname = $("#sname").val();
		        mname =  $("#mname").val();
		        mcat =  $("#mcat").val();
		        mprice =  $("#mprice").val();
		        introduction =  $("#introduction").val();
		        
		        if(sname == ""){
		      		console.log("-------------1");
		       		 alert("가게이름을 입력해주세요.");
		       		 return;
		       	 }
		      	 
		      	 if(mname == ""){
		      		console.log("-------------2");
		       		 alert("메뉴이름을 입력해주세요.");
		      		 return;
		       	 }
		      	 
			     $.ajax({
			          type: 'get',
			          url: "/superadmin/menumodify/" + sname + "/" +mname,
			          success: function(result,status,xhr){
						console.log("???" + result.sno);
						console.log("???" + result.mno);
						console.log("???" + result.count);
						if(result.sno==null){
							alert("[실패]가게이름, 메뉴이름을 확인해주세요");
							return;
						}
							
						menuModify();
				      }
				 });//end ajax
			});
			
			function menuModify(){
		 		var str = "";
		 		
		 		$(".uploadResult ul li").each(function(i,obj){
		 			var jobj = $(obj);
		 			
		 			str += "<input type='hidden' name='fname' value='"+jobj.data("filename")+"'>";
		 			str += "<input type='hidden' name='uuid' value='"+jobj.data("uuid")+"'>";
		 			str += "<input type='hidden' name='uploadPath' value='"+jobj.data("path")+"'>";

				});
		 		menuForm.append(str).attr("action","/superadmin/menumodify").attr("method","post").submit();
			}
			
			
			//메뉴 삭제하기 버튼
			$(".menuRemoveBtn").on("click",function(e){
				e.preventDefault();
				
				sname = $("#sname").val();
		        mname =  $("#mname").val();
		        
		        if(sname == ""){
		      		console.log("-------------1");
		       		 alert("가게이름을 입력해주세요.");
		       		 return;
		       	 }
		      	 
		      	 if(mname == ""){
		      		console.log("-------------2");
		       		 alert("메뉴이름을 입력해주세요.");
		      		 return;
		       	 }
		      	 
			     $.ajax({
			          type: 'get',
			          url: "/superadmin/menumodify/" + sname + "/" +mname,
			          success: function(result,status,xhr){
			        	  console.log(result.mno);
			        	  console.log(result.sno);
						if(result.sno==null){
							alert("[실패]가게이름, 메뉴이름을 확인해주세요");
							return;
						}
							
						menuForm.attr("action","/superadmin/menuremove").attr("method","post").submit()
				      }
				 });//end ajax
			});
			

			

			//공지 모달창
			var modal = $("#modal");
			var modalModBtn = $("#modalModBtn");
			var modalRemoveBtn = $("#modalRemoveBtn");
			var modalRegisterBtn = $("#modalRegisterBtn");

			$(".registerBtn").on("click", function(e) {

				modalModBtn.hide();
				modalRemoveBtn.hide();
				modal.modal("show");

			});
			
			
			//이미지 삭제
			$(".uploadResult").on("click","button",function(e){
				e.preventDefault();
				
				var targetFile = $(this).data("file");
				var type = $(this).data("type");
				
				var targetLi = $(this).closest("li");
				$.ajax({
					url: '/upload/deleteFile',
					data: {fileName: targetFile, type:type},
					dataType:'text',
					type:'POST',
					success: function(result){
						targetLi.remove();
					}
				});
			});
			
			
			//첨부파일 이미지 보여주기 & 다운로드 처리
			var uploadResult = $(".uploadResult ul");
			
			function showUploadedFile(uploadResultArr){
				console.log("showUploadedFile");
				console.log($(uploadResultArr));
				var str ="";
				
				$(uploadResultArr).each(function(i,obj){
						
						$(".uploadResult ul").empty();
					
						var fileCallPath = encodeURIComponent(obj.uploadPath + "/s_" + obj.uuid + "_" + obj.fname);
						
						var fileLink = fileCallPath.replace(new RegExp(/\\/g),"/");
						
						str += "<li class='li' data-path='"+obj.uploadPath+"' data-uuid='"+obj.uuid+"' data-filename='"+obj.fname+"' data-type='"+obj.image+"'>";
						str += "<div>";
						str += "<span>" + obj.fname + "</span>";
						str += "<button type='button' data-type='"+obj.image+"' data-file=\'" + fileCallPath + "\' data-type='image' class='btn btn-warning btn-circle'><i class='fa fa-times'></i></button><br>";
						str += "<img src='/upload/display?fileName="+fileCallPath+"'>";
						str += "</div>";
						str += "</il>";

				});
				uploadResult.append(str);

			}
			
			
			//첨부파일 확장자나 크기 사전 처리
			var regex = new RegExp("(.*?)\.(jpg|png|jpeg)");
			var maxSize = 5242880; //5메가바이트
			
			function checkExtension(fileName, fileSize){
				if(fileSize >= maxSize){
					alert("파일 사이즈 초과");
					return false;
				}
				
				if(!regex.test(fileName)){
					alert("해당 종류의 파일은 업로드 할 수 없습니다.");
					return false;
				}
				return true;
			}
			
			var cloneObj = $(".uploadDiv").clone();
			
			
			//Upload 버튼
			$("#uploadBtn").on("click",function(e){
				e.preventDefault();
				
				var formData = new FormData();
				var inputFile = $("input[name='uploadfile']");
				var files = inputFile[0].files;
				
				console.log(files);
				
				//form태그에 파일 추가하기
				for(var i = 0; i < files.length; i++){
					if(!checkExtension(files[i].name, files[i].size)){
						return false;
					}
				
				}
				
				
				formData.append("uploadfile",files[0]);
				
				$.ajax({
					url: '/upload/uploadAjaxAction',
					processData : false,
					contentType : false,
					data : formData,
					type : 'POST',
					success : function(result){
						console.log(result);
						
						showUploadedFile(result);
						
						$(".uploadDiv").html(cloneObj.html());
						
					}
				});// end ajax
				
				
			});// end Upload 버튼
			
			
			if([[${menuAddResult}]]==1){
				alert("메뉴가 추가되었습니다.")
			}

			if([[${menuModifyResult}]]==1){
				alert("메뉴가 수정되었습니다.")
			}
			
			if([[${menuRemoveResult}]]==1){
				alert("메뉴가 삭제되었습니다.")
			}
			
		});
	</script>
</th:block>