<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ga.eatup.user.mapper.MenuMapper">

	<select id="getMenu" resultType="ga.eatup.user.domain.MenuVO">
	
	select partner_store.sname, partner_store_menu.*
	from partner_store inner join partner_store_menu
	on partner_store.sno = partner_store_menu.sno
	where partner_store_menu.sno = #{sno};

	</select>
	
	<select id="readMenuImg" resultType="ga.eatup.user.domain.MenuVO">
	
	select sno, mno, fname, uuid, upload_path from partner_store_menu where sno = #{sno};
	
	</select>

</mapper>