<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ga.eatup.partner.mapper.OpenMapper">

	<select id="readOpen" resultType="ga.eatup.partner.domain.StoreVO">
	select * from partner_store where sno= 1
	</select>

	<update id="updateOpenX" parameterType="ga.eatup.partner.domain.StoreVO">
		update partner_store set open='X' where sno= 1
	</update>
	
	<update id="updateOpenO" parameterType="ga.eatup.partner.domain.StoreVO">
		update partner_store set open='O' where sno= 1
	</update>
	
</mapper>
	