<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ga.eatup.partner.mapper.PartnerOrderMapper">
	<select id="getOrder"
		resultType="ga.eatup.partner.domain.OrderVO">
		select sno,od.tid,uno,mno,quantity
		from gorany.order as od,
		gorany.order_info as info
		where od.tid = info.tid
		and sno = #{sno}
		<!-- and od.tid="tid1" and od.tid = "tid55" and sno = #{sno} and od.tid 
			= #{tid} -->
	</select>

	<select id="getOpen"
		resultType="ga.eatup.partner.domain.StoreVO">
		select sno,open
		from gorany.partner_store
		where sno= 1
		;
		<!-- and od.tid="tid1" and od.tid = "tid55" and sno = #{sno} and od.tid 
			= #{tid} -->
	</select>
</mapper>

