<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ga.eatup.partner.mapper.SalesMapper">
	<select id="getDailySales" resultType="ga.eatup.partner.domain.SalesVO">
		
		select DATE(approved_at) orderdate, 
	    sum(mprice*quantity) total
		from gorany.order left join
		(select tid, sno, mprice, quantity
		from gorany.order_info info join gorany.partner_store_menu menu
		on info.mno = menu.mno) allorder
		on gorany.order.tid = allorder.tid
		where allorder.sno = 1
		and MONTH(`approved_at`) = MONTH(curdate())
		group by orderdate
		order by orderdate
	
	</select>
	
	<select id="getWeeklySales" resultType="ga.eatup.partner.domain.SalesVO">


		select DATE_FORMAT(DATE_SUB(`approved_at`, INTERVAL (DAYOFWEEK(`approved_at`)-1) DAY), '%Y/%m/%d') as start,
        DATE_FORMAT(DATE_SUB(`approved_at`, INTERVAL (DAYOFWEEK(`approved_at`)-7) DAY), '%m/%d') as end,
        DATE_FORMAT(`approved_at`, '%Y%U') as 'week',
        sum(mprice*quantity) total
		FROM gorany.order join
		(select tid, mprice, quantity
		from gorany.order_info left join gorany.partner_store_menu
		on gorany.order_info.mno = gorany.partner_store_menu.mno) allorder
		on gorany.order.tid = allorder.tid
		where sno = 1
		group by week
		order by start
	</select>
	
	<select id="getMonthlySales" resultType="ga.eatup.partner.domain.SalesVO">
	
		
		SELECT MONTH(`approved_at`) AS `month`,
		       sum(mprice*quantity) total
		FROM gorany.order join
		(select tid, mprice, quantity
		from gorany.order_info left join gorany.partner_store_menu
		on gorany.order_info.mno = gorany.partner_store_menu.mno) allorder
		on gorany.order.tid = allorder.tid
		where sno = 1
		GROUP BY `month`
	</select>
	
	<select id="getDailytableData" resultType="ga.eatup.partner.domain.SalesVO">
	
	select DATE(approved_at) orderdate, MONTH(`approved_at`) month, mname, sum(quantity) quantity, (mprice*sum(quantity)) total
	from gorany.partner_store_menu menu join 
	(select approved_at, sno, mno, quantity
	from gorany.order od join gorany.order_info info
	on od.tid = info.tid) allorder
	on menu.mno = allorder.mno
	where allorder.sno = 1
	and MONTH(`approved_at`) = #{month}
	group by orderdate, mname;
	</select>
	
	<select id="getDailytableData_date" resultType="ga.eatup.partner.domain.SalesVO">
	select DATE(approved_at) orderdate, mname, sum(quantity) quantity,sum(mprice*quantity) total
	from gorany.partner_store_menu menu join 
	(select approved_at, sno, mno, quantity
	from gorany.order od join gorany.order_info info
	on od.tid = info.tid) allorder
	on menu.mno = allorder.mno
	where allorder.sno = 1
	and MONTH(`approved_at`) = #{month}
	group by orderdate;
	
	</select>
	
	<select id="getWeeklytableData" resultType="ga.eatup.partner.domain.SalesVO">
	select DATE_FORMAT(DATE_SUB(`approved_at`, INTERVAL (DAYOFWEEK(`approved_at`)-1) DAY), '%Y/%m/%d') as start,
      DATE_FORMAT(DATE_SUB(`approved_at`, INTERVAL (DAYOFWEEK(`approved_at`)-7) DAY), '%m/%d') as end,
      DATE_FORMAT(`approved_at`, '%Y%U') as 'week',
      mname,
      sum(quantity) quantity,
      (mprice*sum(quantity)) total
	FROM gorany.order od join
	(select tid, mname, mprice, quantity
	from gorany.order_info info left join gorany.partner_store_menu menu
	on info.mno = menu.mno) allorder
	on od.tid = allorder.tid
	where sno = 1
	and MONTH(`approved_at`) = #{month}
	group by week,mname
	order by start;
	</select>
	
	<select id="getWeeklytableData_date" resultType="ga.eatup.partner.domain.SalesVO">
	select DATE_FORMAT(DATE_SUB(`approved_at`, INTERVAL (DAYOFWEEK(`approved_at`)-1) DAY), '%Y/%m/%d') as start,
       DATE_FORMAT(DATE_SUB(`approved_at`, INTERVAL (DAYOFWEEK(`approved_at`)-7) DAY), '%m/%d') as end,
       DATE_FORMAT(`approved_at`, '%Y%U') as 'week',
       mname,
       sum(quantity) quantity,
       sum(mprice*quantity) total
	FROM gorany.order od join
	(select tid, mname, mprice, quantity
	from gorany.order_info info left join gorany.partner_store_menu menu
	on info.mno = menu.mno) allorder
	on od.tid = allorder.tid
	where sno = 1
	and MONTH(`approved_at`) = #{month}
	group by week
	order by start;
	
	</select>
	
	<select id="getMonthlytableData" resultType="ga.eatup.partner.domain.SalesVO">
	
	SELECT MONTH(`approved_at`) AS `month`,
		   mname,
		   sum(quantity) quantity,
		  (mprice*sum(quantity)) total
	FROM gorany.order od join
	(select tid, mname, mprice, quantity
	from gorany.order_info info left join gorany.partner_store_menu menu
	on info.mno = menu.mno) allorder
	on od.tid = allorder.tid
	where sno = 1
	GROUP BY `month`,mname;
	
	</select>
	
	<select id="getMonthlytableData_date" resultType="ga.eatup.partner.domain.SalesVO">
	
	SELECT MONTH(`approved_at`) AS `month`,
		   mname,
		   sum(quantity) quantity,
		  sum(mprice*quantity) total
	FROM gorany.order od join
	(select tid, mname, mprice, quantity
	from gorany.order_info info left join gorany.partner_store_menu menu
	on info.mno = menu.mno) allorder
	on od.tid = allorder.tid
	where sno = 1
	GROUP BY `month`;	
	
	</select>
	
</mapper>

