<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="ga.eatup.user.mapper.StoreMapper">
 	
 	
 	<select id="getStore" resultType="ga.eatup.user.domain.StoreVO">
 		select * from gorany.partner_store right join 
		(select * from (select * from gorany.partner_store_img order by fname desc) a group by sno) img
		on gorany.partner_store.sno = img.sno;
 	</select>
 	
 	<select id="getStoreNear" resultType="ga.eatup.user.domain.StoreVO">
 	select * from gorany.partner_store right join (select * from (select * from gorany.partner_store_img order by fname desc) a group by sno) img
		on gorany.partner_store.sno = img.sno
order by sqrt( pow(#{plat} - lat, 2) + pow(#{plng} - lng,2)) 
limit 0, 10
 	</select>
 	
 	<select id="getStoreImg" resultType="ga.eatup.user.domain.StoreVO">
 	select * from gorany.partner_store_img 
 	where sno = #{sno}
 	</select>
 
 </mapper>