<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ga.eatup.partner.mapper.SuperadminMapper">


	<select id="noticeList" resultType="ga.eatup.partner.domain.NoticeVO">
		select * from notice where status='O' order by nno desc
	</select>

	<insert id="noticeAdd"
		parameterType="ga.eatup.partner.domain.NoticeVO">
		insert into notice(title,writer,content)
		values(#{title},#{writer},#{content})
		
		<selectKey order="AFTER" resultType="int" keyProperty="nno">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>

	<insert id="uploadAdd"
		parameterType="ga.eatup.partner.domain.NoticeUploadVO">
		insert into
		notice_upload(nno,fname,uuid,upload_path,filetype)
		values(#{nno},#{fname},#{uuid},#{uploadPath},#{filetype})
	</insert>

	<select id="searchSno" resultType="ga.eatup.user.domain.MenuVO">
		select sno, (select count(*)
		from partner_store_menu
		where sno = (select ifnull(sno,0) from
		partner_store where sname = #{sname})
		and mname = #{mname} and
		status='O') count
		from
		partner_store where sname = #{sname}
	</select>

	<insert id="menuAdd" parameterType="ga.eatup.user.domain.MenuVO">
		INSERT INTO
		partner_store_menu (sno, mname, mcat, mprice, introduction, fname,
		uuid, upload_path)
		values (#{sno}, #{mname}, #{mcat},
		#{mprice},#{introduction}, #{fname},
		#{uuid}, #{uploadPath})
	</insert>

	<select id="searchSnoMno"
		resultType="ga.eatup.user.domain.MenuVO">
		select sno, mno, (select count(*)
		from partner_store_menu
		where sno = (select ifnull(sno,0) from partner_store where sname =
		#{sname})
		and
		mname = #{mname} and status='O') count
		from
		partner_store_menu
		where sno =
		(select ifnull(sno,0)
		from partner_store
		where sname = #{sname})
		and
		mname = #{mname} and status='O'
		group by sno
	</select>

	<update id="menuUpdate"
		parameterType="ga.eatup.user.domain.MenuVO">
		update partner_store_menu
		set
		mprice =
		ifnull(#{mprice},mprice),
		mcat = ifnull(#{mcat},mcat),
		fname =
		ifnull(#{fname},fname),
		uuid = ifnull(#{uuid},uuid),
		upload_path =
		ifnull(#{uploadPath},upload_path)
		where mno = #{mno}
	</update>

	<update id="menuRemove" parameterType="int">
		update partner_store_menu
		set status = 'X' where mno = #{mno}
	</update>

</mapper>
 
 