<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ga.eatup.user.mapper.UserOrderMapper">
	<insert id="insert">
		insert into gorany.order(ono, pno, qty, opno,
		pnum, name, address, addressDetail,sno)
		value(#{ono}, #{pno}, #{qty},
		#{opno}, #{pnum}, #{name}, #{address},
		#{addressDetail},#{sno})
	</insert>

	
</mapper>