<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ga.eatup.user.mapper.UserMenuMapper">

	<select id="getMenu" resultType="ga.eatup.user.domain.MenuVO">
	
		select partner_store.sname sname, partner_store.saddress saddress, 
				partner_store.businessHours businessHours, 
				partner_store.telephone telephone, partner_store_menu.*
		from partner_store inner join partner_store_menu
		on partner_store.sno = partner_store_menu.sno
		where partner_store_menu.status = 'O' and partner_store_menu.sno = #{sno} 

	</select>
	
	<select id="getCart" resultType="ga.eatup.user.domain.MenuVO">
	select partner_store.sname sname,
	partner_store_menu.sno sno, partner_store_menu.mno mno, partner_store_menu.mname mname, partner_store_menu.mprice mprice
		from partner_store inner join partner_store_menu
		on partner_store.sno = partner_store_menu.sno
		where partner_store_menu.status = 'O' and partner_store_menu.sno = #{sno} 
	
	</select>
	
	<update id="updatequantity" parameterType="ga.eatup.user.domain.CartDTO">
		update gorany.partner_store_menu set max_quantity=max_quantity-#{quantity} where max_quantity>0 and sno=#{sno} and mno= #{mno}  ;
	</update>

</mapper>

