<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="ga.eatup.user.mapper.UserOrderMapper">

	<insert id="insertOrder">
		insert into gorany.order(tid,payment_method_type,token,sno,uno,partner_order_id,approved_at)
		value(#{tid},#{payment_method_type},#{token},#{sno},#{uno},#{partner_order_id},#{approved_at})
	</insert>
	
	<insert id="insertOrderInfo">
		insert into gorany.order_info (tid,mno,quantity)
		values (#{tid},#{mno},#{quantity})
	</insert>
	
	<select id="getUno" resultType="int">
	select uno from user where uid = #{uid}
	</select>
	
</mapper>